@import "tailwindcss";

/* Font Face Definitions */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Aclonica';
  src: url('/fonts/Aclonica-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Bangers';
  src: url('/fonts/Bangers-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Gajraj One';
  src: url('/fonts/GajrajOne-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/RobotoMono-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* Font Utility Classes */
@layer utilities {
  .font-montserrat {
    font-family: 'Montserrat', sans-serif;
  }
  .font-aclonica {
    font-family: 'Aclonica', sans-serif;
  }
  .font-bangers {
    font-family: 'Bangers', sans-serif;
  }
  .font-gajraj {
    font-family: 'Gajraj One', sans-serif;
  }
  .font-openSans {
    font-family: 'Open Sans', sans-serif;
  }
  .font-roboto {
    font-family: 'Roboto', sans-serif;
  }
}


